<h3> Estadísticas </h3>
<ul>
	<li>Número de preguntas: <%= sts.preguntas %></li>
	<li>Número de comentarios totales: <%= sts.comentarios %></li>
	<li>Número medio de comentarios por pregunta: <%= sts.media_comentarios %></li>
	<li>Número de preguntas sin comentarios: <%= sts.preguntas_sin_comentarios %></li>
	<li>Número de preguntas con comentarios: <%= sts.preguntas_con_comentarios %></li>
</ul>